In [1]:
#code to print all the keywords present in python
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [3]:
#Variables
a= 50
b=60
c=a+b
print(c)

110

In [4]:
x='hello'
x

'hello'

In [5]:
#Creating a list with constructor()
a=([1,2,3,4,5])
b=([2.4,7.0,6.8])
c=(['hello','students'])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

In [6]:
type(a)

list

In [7]:
a=(['hello',8,9,20.77])
a

['hello', 8, 9, 20.77]

In [8]:
#create list using range function:
L=list(range(0,6))
print(L)

[0, 1, 2, 3, 4, 5]

In [10]:
#creating a list without constructor():
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
days[1]

'tuesday'

In [11]:
days[-1]

'sunday'

In [12]:
days[:]

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [13]:
days[1:4]

['tuesday', 'wednesday', 'thursday']

In [14]:
#List built-in function:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(days)

7

In [15]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [16]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [18]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [19]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[7, 5, 1, 3, 2, 4, 8, 6]

In [20]:
#list operators
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [21]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [22]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' in days

True

In [23]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' not in days

False

In [24]:
a='Arshiya'
b='Arshiya'
a is b

True

In [25]:
#List Methods:
a=['a','b','c','d']
print(a)
a.append('e')
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [26]:
list=['red','orange','pink','black']
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [27]:
nums=[1,2,3,4,1,4,1,7,8,1]
print(nums)
nums.count(1)

[1, 2, 3, 4, 1, 4, 1, 7, 8, 1]

4

In [28]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [29]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

In [30]:
#.PYTHON TUPLES
#creating tuple with single element:
a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [31]:
#creating tupules with integer
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [32]:
#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [33]:
#creating tuple with strings
c=('one','two','three')
c

('one', 'two', 'three')

In [34]:
#create a dictionary
a={
'name':'joy',
'age':23,
'education':'Engineer'
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'Engineer'}

In [35]:
len(a)

3

In [36]:
type(a)

dict

In [37]:
y=a.values()
y

dict_values(['joy', 23, 'Engineer'])

In [38]:
#Python Sets:
#Example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [39]:
3duplicates not allowed
set={1,2,3,4,5,6,7,1,1}
set

<class 'SyntaxError'>: invalid decimal literal (<ipython-input-39-c37025204b0c>, line 1)

In [42]:
#Python functions
def add():
    a = 2
    b = 3
    total = a + b
    return total

result = add()
print(result)

5

In [45]:
def collectdata():
    """Function to collect data"""
    # Add your code here
    pass

def cleandata():
    """Function to clean data"""
    # Add your code here
    pass

def processdata():
    """Function to pre-process the data"""
    # Add your code here
    pass

def exploredata():
    """Function to explore data"""
    # Add your code here
    pass

def visualize():
    """Function to visualize data"""
    # Add your code here
    pass